body{
    text-align: center;
    background-color: #80ccff;
}

.quadrado{
    text-align: center;
    width: 50px;
    background: #d1e0e0;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #d1e0e0;
}

.jogador,
.vencedor{
    font-size: 16px;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    width: 100px;
    height: 38px;
    background-color:#0000ff;
    cursor: pointer;
}